@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to left top, blue, red);
}

a {
    color: #333;
    text-decoration: none;
}

.main-header {
    height: 55vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-header h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1.2rem;
}

.main-header h1 span {
    color: #DAA520;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
}

img {
    width: 100%;
}

.card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    background: #F5DEB3;
    margin-bottom: 2rem;
}

.card h3 {
    margin-bottom: 2rem;
}

.card img {
    height: 400px;
}

.card>div {
    padding: 2rem;
}

.card:nth-child(even) img {
    order: 2;
}

.btn {
    display: inline-block;
    background: #000;
    color: #f1f1f1;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.6;
}

.galeria {
    margin: 2rem;
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.galeria> div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    transition: all .8s cubic-bezier(1, 1, 1, 1);
}

.galeria>div:hover {
    flex: 5;
}